
.header{
    display: contents;
    text-align: center;
  
}

.stats{

   font-size: larger;

}
.list{
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: baseline;
   padding: 0;
   border-top: 1px solid rgb(172, 166, 166);
   border-bottom: 1px solid rgb(172, 166, 166);
}

.career{
    padding: 1rem;
       cursor: pointer;
}

.career:hover{
    font-weight: bold;
}
.career-active{
    border-bottom: 4px solid rgb(9, 154, 232);
    padding: 1rem;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

.gamelogs{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
 
}
.gamelogs-active{
    border-bottom: 4px solid rgb(9, 154, 232);
    padding: 1rem;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}
.career, .gamelogs{
    display: flex;
    flex-direction: column-reverse;
}
.gamelogs:hover{
    font-weight: bold;
}
